.centered {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-primary {
    color: (--ion)
}


.h-100 {
    height: 100% !important;
}

.circle-image {
    clip-path: circle();
}

.square-image {
    clip-path: polygon();
}

.w-100 {
    width: 100% !important;
}

ion-app {
    background-color: white;
}

.no-scroll {
    overflow: hidden !important;
}

.position-bottom {
    position: fixed;
}

.grid-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ion-input {
        min-height: 2rem !important;
    }
}

.text-underline {
    text-decoration: underline;
}

.no-shadows {
    box-shadow: none !important;
}

.fw-700 {
    font-weight: 700;
}

.h-100 {
    height: 100% !important;
}

.m-1 {
    margin: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.fs-32 {
    font-size: 2rem;
}

.no-padding-grid {
    --ion-grid-padding: 0;
    --ion-grid-column-padding: 0;
}
